:root {
    --color-header: #BA1B1D;
    --color-background: #F7F4F3;
    --color-padding: #ff2c18;
    --color-accent: #564D4A;
    --color-accent-two: #BA1B1D;
    --padding-small: 3px;
    --height-footer: 5vh;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--color-background);
    min-height: calc(100% - var(--height-footer));
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    color: var(--color-background)
}

header {
    padding: var(--padding-small);
    background-color: var(--color-header);
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

#left-btn-group,
#right-btn-group {
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
}

button,
input {
    background-color: var(--color-padding);
    border-radius: 10px;
    margin: 5px;
    width: 40px;
}

#left-btn-group button {
    display: block;
    width: 75%;
}

footer {
    padding: var(--padding-small);
    position: fixed;
    bottom: 0;
    height: var(--height-footer);
    min-height: var(--header-height);
    background-color: var(--color-header);
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon-style {
    background-color: var(--color-background);
    border-radius: 5px;
    height: 30px;
    margin-left: 50px;
}

#canvas {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    border: 50px solid var(--color-padding);
    border-radius: 50px;
}

#canvas-border {
    width: 99%;
    height: 99%;
}